<h1><%= @post.title %></h1>
<h3><%= @post.content %></h3>
<ul>
  <% @post.categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

<ul>
<% @post.comments.each do |comment| %>
<li><%= comment.content %></li>
<% end %>
</ul>

<ul>
<% @post.users.uniq.each do |user| %>
<li><%= link_to user.username, user_path(user) %></li>
<% end %>
</ul>

<%= form_for @comment do |f| %>
<%= f.collection_select :user_id, User.all, :id, :name %>

<%= f.text_field :content %>

<% end %>
